{
  "type": "postgres",
  "host": "",
  "port": 123,
  "username": "",
  "password": "",
  "database": "",
  "entities": [
     "src/app/models/*.ts"
  ],
  "migrations": [
     "src/database/migrations/*.ts"
  ],
  "cli": {
    "migrationsDir": "src/database/migrations"
  }
}